html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 1em;
}
.purple {
    color: purple;
}

#blue {
    color: rgb(0, 229, 255);
    border-style: dashed 10 px;
}

#first_div {
    position: relative;
    left: 200 px; 
}