* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ffffff;
  }
  #top {
    float:top;
  }
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
#star {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  padding: 44px 0;
  shadow: 1px 1px 1px black;
}
  h1 {
    position: top;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(logo.png);
    filter: drop-shadow(2px 2px black);
    
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }

  #bottom {
    float:bottom;
  }
  
  
  /* Your CSS below here */